@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --theme-egg-shell: #f7f4f1;
  }

  html,
  body {
    height: 100%;
    max-height: 100%;
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--theme-egg-shell);
  }

  .font-formula-one-black {
    font-family: 'Formula1Black', Arial, Helvetica, sans-serif;
  }

  .font-formula-one-bold {
    font-family: 'Formula1Bold', Arial, Helvetica, sans-serif;
  }

  .font-formula-one-regular {
    font-family: 'Formula1Regular', Arial, Helvetica, sans-serif;
  }

  .font-formula-one-wide {
    font-family: 'Formula1Wide', Arial, Helvetica, sans-serif;
  }
}