@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --menu-height:75px;

    --background: #f7f4f1;
    --content: #ffffff;
    --content-foreground: #000000;
    --primary:#e10600;
    --primary-foreground:#ffffff;
    --secondary: #f3f3f3;
    --secondary-foreground:#ffffff

  }

  html,
  body {
    font-size: 1rem;
    line-height: 1;
    font-family: 'Titillium Web', sans-serif;
  }

  table > thead > tr > th,
  table > tbody > tr > td{
    padding:1rem;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .section{
    min-height: calc(100vh - var(--menu-height));
  }

  .menu-height{
    height:var(--menu-height);
  }

  .font-formula-one-black {
    font-family: 'Formula1Black', Arial, Helvetica, sans-serif;
  }

  .font-formula-one-bold {
    font-family: 'Formula1Bold', Arial, Helvetica, sans-serif;
  }

  .font-formula-one-regular {
    font-family: 'Formula1Regular', Arial, Helvetica, sans-serif;
  }

  .font-formula-one-wide {
    font-family: 'Formula1Wide', Arial, Helvetica, sans-serif;
  }
}